{% block subject %}  {% endblock %}

{% block body %}

    <style>
        table{
            border-collapse: collapse;
        }

        th{
            text-align: center;
            font-weight: bold;
        }

        td.total{
            text-align: right;
            font-weight: bold;
        }

        td.amount{
            text-align: center;
            font-weight: bold;
        }

        td.numbs {
            text-align: center;
        }

        h2.orderNumb {
            padding-top: 15px
        }
    </style>

    <h2 class="orderNumb">Order #{{ order.id }} complete</h2>

    <h4>Customer info:</h4>

    <p>{{ order.firstname }} {{ order.lastname }}</p>
    <p>{{ order.email }}</p>
    <p>{{ order.phone }}</p>
    <p>{{ order.address }}</p>

    <h4>Order info:</h4>

    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Cost</th>
        </tr>
            {% for item in order.items %}
                <tr>
                    <td>{{ item.product }}</td>
                    <td class="numbs">{{ item.price|localizedcurrency('UAH')  }}</td>
                    <td class="numbs">{{ item.quantity }}</td>
                    <td class="numbs">{{ item.cost|localizedcurrency('UAH') }}</td>
                </tr>
            {% endfor %}
        <tr>
            <td class="total" colspan="3"><strong>Total:</strong></td>
            <td class="amount">{{ order.amount|localizedcurrency('UAH') }}</td>
        </tr>
    </table>

{% endblock %}