{% block subject %}  {% endblock %}

{% block body %}
    <p>Order #{{ cart.id }} complete</p>

    <h4>Customer info:</h4>

    <p>{{ cart.firstname }} {{ cart.lastname }}</p>
    <p>{{ cart.email }}</p>
    <p>{{ cart.phone }}</p>
    <p>{{ cart.address }}</p>

    <h4>Order info:</h4>

    <table border="1" style="border-collapse: collapse" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Cost</th>
        </tr>
            {% for item in cart.items %}
                <tr>
                    <td>{{ item.product }}</td>
                    <td>{{ item.price|localizedcurrency('UAH')  }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.cost|localizedcurrency('UAH') }}</td>
                </tr>
            {% endfor %}
        <tr>
            <td  colspan="3" style="text-align: right"><strong>Total:</strong></td>
            <td><strong>{{ cart.amount|localizedcurrency('UAH') }}</strong></td>
        </tr>
    </table>






{% endblock %}