{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}

    <style>
        tr.head{
            text-align: center;
            font-weight: bold;
        }

        td.total{
            text-align: right;
            font-weight: bold;
        }

        td.amount{
            text-align: center;
            font-weight: bold;
        }

        td.numbs {
            text-align: center;
        }

        td.cost {
            text-align: center;
        }

        h2.orderNumb {
            padding-top: 15px
        }
    </style>

    <h2 class="orderNumb" >Checkout order #{{ cart.id }}</h2>

    <table class="table table-bordered" style="table-layout: fixed;">
        <thead class="thead-light">
        <tr class="head">
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost</th>
        </tr>
        </thead>
        <tbody id="cart-table">

        {% for item in cart.items %}
            <tr>
                <td>{{ item.product }}</td>
                <td class="numbs">{{ item.price }}</td>
                <td class="numbs">{{ item.quantity }}</td>
                <td class="cost">{{ item.cost|localizedcurrency('UAH') }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td  colspan="3" class="total"><strong>Total:</strong></td>
            <td class="amount"><strong>{{ cart.amount|localizedcurrency('UAH') }}</strong></td>
        </tr>
        </tbody>
    </table>

    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
    {{ form_widget(form) }}

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Process!</button>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}








